.space {
  margin-top: 50px;
}

img {
  width: 100%;
  max-width: 720px;
  height: auto;
  border: 2px solid darkgreen;
}

img.border {
  border-radius: 12px;
}

div.tab {
  margin-left: 1em;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.2em;
  font-size: 2.3em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.2em;
  color: darkgreen;
  font-size: 3em;
}
/* external css: flickity.css */

// * { box-sizing: border-box; }

// body { font-family: sans-serif; }
