/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {

  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

.container {
  padding: 5vh;
}

footer {
  min-height: 190px;
  background-color: lightgreen;
}
