<div class="jumbotron">

  <div fxFlex="70%">
    <!-- <p class="container header"> -->
      <!-- Browse over millions of species all over the world. -->
      <header>
        <h1 class="medium container">
          <blockquote cite="http://">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
          </blockquote>
        </h1>

        <div class="container">
            <small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </small>

        </div>

      </header>
    <!-- </p> -->
  </div>

  <div fxFlex class="container"></div>
</div>

<div class="spaces"></div>
<!-- new section -->
<div class="container">
  <section>
    <h1 class="thick highlight">Detailed Guide on how to grow Plants!</h1>
    <p class="medium container">
      First Time Gardener? Start here to know how to grow your first plant!
    </p>
  </section>
</div>
<div class="spaces"></div>

<div class="container">
  <section>
    <h1 class="thick highlight">Explore 1 million indexed plants!</h1>
    <p class="medium container">
      Including 400 thousand with detailed data, and 600 thousand synonyms!
    </p>
  </section>
</div>

<div class="container">
  <section>
    <h1 class="thick highlight">Featured Plant</h1>
    <p class="medium container">
      {{featuredPlant.data.common_name}}
    </p>
      <div class="carousel"
        data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
        <img src="../assets/images/1.jpg" alt="" />
        <img src="../assets/images/2.jpg" alt="" />
        <img src="../assets/images/3.jpg" alt="" />
        <img src="../assets/images/4.jpg" alt="" />
        <img src="../assets/images/5.jpg" alt="" />
      </div>
  </section>
</div>
